.container{
    margin: 1em auto;
    padding: 0 14px;

    h3{
        margin-top: 1em;
        font-weight: 300;
        font-size: 35px;
        text-align: center;
    }

    #searchBox{
        width: calc(100% - 40px);
        margin: 1em 0;
    }
}