<h2>Edit profile info</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Personal data</mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="editInfo(infoForm)" #infoForm="ngForm" enctype="multipart/form-data">
        <div class="upload-btn-wrapper">
          <button class="btn">Upload Profile Photo</button>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Username" name="username" [(ngModel)]="editedUser.username" disabled>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Biography" name="bio" [(ngModel)]="editedUser.bio" id="bio" cdkTextareaAutosize resizeToFitContent="true"></textarea>
      </mat-form-field>
      <button mat-stroked-button color="accent">save</button>
    </form>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Change Password</mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="editInfo(passwordForm)" #passwordForm="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Current Password" name="password" [(ngModel)]="editedUser.password" type="password" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="New Password" name="newPassword" [(ngModel)]="editedUser.newPassword" type="password" required>
      </mat-form-field>
      <button mat-stroked-button color="accent">Change</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>
