.img-container{
    max-width: 200px;
    width: 100%;
    margin: 1em auto;

    img{border-radius: 50%}
}

.example-icon {
    padding: 0 14px;
    margin-right: 10px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

#username{
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px
}

#bio{
    font-weight: 300;
}

.fab{
    position: fixed;
    z-index: 999;
    bottom: 1.5em;
    right: 1.5em;
    background-color: #ff4081;
    color: #fafafa;
    outline: none;
    
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}