<div *ngIf="auth.user">
  <app-navbar></app-navbar>

  <mat-tab-group 
        [color]="'primary'" [backgroundColor]="'primary'" 
        #tabGroup (selectedTabChange)="tabChanged(tabGroup)" 
        [dynamicHeight]="true">
    <mat-tab label="Profile">
      <app-profile-info [user]="auth.user" [editable]="editProfile"></app-profile-info>
    </mat-tab>

    <mat-tab label="Created Games">
      <app-game-list [games]="createdGames" [type]="'Created'" *ngIf="!createGame"></app-game-list>
    </mat-tab>

    <mat-tab label="Played Games">
      <app-game-list [games]="playedGames" [type]="'Played'"></app-game-list>
    </mat-tab>
  </mat-tab-group>

  <button id="fab" *ngIf="fabIcon">
    <mat-icon (click)="changeComponent()">{{fabIcon}}</mat-icon>
  </button>
</div>
