.full-width{
    width: 100%;
}

h2{
    font-weight: 300;
    margin-bottom: 1em;
}

#time{
    margin: 1em 0;

    input{
        padding: 5px 10px;
        outline: none;
        border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.3);
    }
}

.margin{
    margin: 1em 0;
}